@import './src/styles/base/reset';
@import './src/styles/base/variables';
@import './src/styles/base/mixins';
@import './src/styles/base/base';
@import './src/styles/components/header';
@import './src/styles/components/userCard';
@import './src/styles/components/customers';
@import './src/styles/components/pagination';