header
    .header
        .logo
            img(src='src/assets/svg/logo-dashboard.svg')
            p.logo__text v.01 
        include navigation
        include mobileMenu
        include userCard
        .header__nav-button
            button.nav-icon-btn(type='button') 
                .nav-icon 