header
    .header
        .logo
            img(src='src/assets/svg/logo-dashboard.svg')
            p.logo__text v.01 
        nav.header__nav 
            ul.header___nav-list
                li.header__nav-item 
                    include ../assets/svg/nav-svg/dashboard.svg
                    p Dashboard
                li.header__nav-item 
                    include ../assets/svg/nav-svg/product.svg
                    p Product
                    .arrow-right
                        include ../assets/svg/nav-svg/right.svg
                li.header__nav-item.header__nav-item--active
                    include ../assets/svg/nav-svg/user.svg
                    p Customers
                    .arrow-right
                        include ../assets/svg/nav-svg/right.svg
                li.header__nav-item 
                    include ../assets/svg/nav-svg/income.svg
                    p Income
                    .arrow-right
                        include ../assets/svg/nav-svg/right.svg
                li.header__nav-item 
                    include ../assets/svg/nav-svg/promote.svg
                    p Promote
                    .arrow-right
                        include ../assets/svg/nav-svg/right.svg
                li.header__nav-item 
                    include ../assets/svg/nav-svg/help.svg
                    p Help
                    .arrow-right
                        include ../assets/svg/nav-svg/right.svg
        include userCard
        .header__nav-button
            button.nav-icon-btn(type='button') 
                .nav-icon 