- var user = {name: 'Evano', position: 'Project Manager'}
.user 
    img(src="src/assets/images/user-img.jpg", alt="User Avatar")
    .user-description
        p.user-name #{user.name}
        p.user-position #{user.position}