// colors
$main-bg-color: #FAFBFF;
$white-bg-color: #FFFFFF;
$active-bg-color: #5932EA;
$input-bg-color: #F9FBFF;
$logo-text-color: #838383;
$main-text-color: #292D32;
$grey-text-color: #757575;
$green-text-color: #16C098;
$secondary-text-color: #B5B7C0;
$black-text-color: #000000;
$nav-text-color: #9197B3;
$table-border-color: #EEEEEE;
$status-active-bg-color: rgb(22, 192, 152, 38%);
$status-active-text-color: #008767;
$status-active-border-color: #00B087;
$status-inactive-bg-color: #FFC5C5;
$status-inactive-text-color: #DF0404;

// font-sizes
$xs: 10px;
$s: 14px;
$m: 22px;
$l: 24px;

// breakpoints
$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1440px;